[Bug, exchange] dydx tests sporadically failing -> so deprecate dydx

### The bug

While doing work unrelated to dydx, in my CI I got two unit test failures, both from dydx: ([Log](https://github.com/oceanprotocol/pdr-backend/actions/runs/9426087542/job/25968586997?pr=1157))

```text
=========================== short test summary info ============================
FAILED pdr_backend/exchange/test/test_fetch_ohlcv_dydx.py::test_dydx__real_response__basic - requests.exceptions.JSONDecodeError: Expecting value: line 1 column 1 (char 0)
FAILED pdr_backend/exchange/test/test_fetch_ohlcv_dydx.py::test_dydx__real_response__fromISO - requests.exceptions.JSONDecodeError: Expecting value: line 1 column 1 (char 0)
```

### Strategy

We're not going ahead with dydx. Therefore we can deprecate it all.

### TODO

- [ ] Deprecate dydx

### Full traceback

```text
=================================== FAILURES ===================================
_______________________ test_dydx__real_response__basic ________________________

self = <Response [403]>, kwargs = {}

    def json(self, **kwargs):
        r"""Returns the json-encoded content of a response, if any.
    
        :param \*\*kwargs: Optional arguments that ``json.loads`` takes.
        :raises requests.exceptions.JSONDecodeError: If the response body does not
            contain valid json.
        """
    
        if not self.encoding and self.content and len(self.content) > 3:
            # No encoding set. JSON RFC 4627 section 3 states we should expect
            # UTF-8, -16 or -32. Detect which one to use; If the detection or
            # decoding fails, fall back to `self.text` (using charset_normalizer to make
            # a best guess).
            encoding = guess_json_utf(self.content)
            if encoding is not None:
                try:
                    return complexjson.loads(self.content.decode(encoding), **kwargs)
                except UnicodeDecodeError:
                    # Wrong UTF codec detected; usually because it's not UTF-8
                    # but some other 8-bit codec.  This is an RFC violation,
                    # and the server didn't bother to tell us what codec *was*
                    # used.
                    pass
                except JSONDecodeError as e:
                    raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
    
        try:
>           return complexjson.loads(self.text, **kwargs)

/opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/site-packages/requests/models.py:974: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
/opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/json/__init__.py:346: in loads
    return _default_decoder.decode(s)
/opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/json/decoder.py:337: in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 

self = <json.decoder.JSONDecoder object at 0x7f50db7dac10>
s = '<!DOCTYPE html>\n<html>\n\n<head>\n  <meta charset="UTF-8" />\n  <meta name="viewport" content="width=device-width, i...of use, you have been blocked. You may withdraw your funds from the\n    protocol at any time.</p>\n</body>\n\n</html>'
idx = 0

    def raw_decode(self, s, idx=0):
        """Decode a JSON document from ``s`` (a ``str`` beginning with
        a JSON document) and return a 2-tuple of the Python
        representation and the index in ``s`` where the document ended.
    
        This can be used to decode a JSON document from a string that may
        have extraneous data at the end.
    
        """
        try:
            obj, end = self.scan_once(s, idx)
        except StopIteration as err:
>           raise JSONDecodeError("Expecting value", s, err.value) from None
E           json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

/opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/json/decoder.py:355: JSONDecodeError

During handling of the above exception, another exception occurred:

    @enforce_types
    def test_dydx__real_response__basic():
        # setup problem
        symbol = "BTC/USD"
        timeframe = "5m"
        since = UnixTimeMs.from_timestr("2024-02-27_00:00:00.000")
        limit = 1
    
        # get result
>       raw_tohlcv_data = fetch_ohlcv_dydx(symbol, timeframe, since, limit)

pdr_backend/exchange/test/test_fetch_ohlcv_dydx.py:75: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
/opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/site-packages/enforce_typing/decorator.py:29: in wrapper
    return func(*args, **kwargs)
pdr_backend/exchange/fetch_ohlcv_dydx.py:72: in fetch_ohlcv_dydx
    data = response.json()
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 

self = <Response [403]>, kwargs = {}

    def json(self, **kwargs):
        r"""Returns the json-encoded content of a response, if any.
    
        :param \*\*kwargs: Optional arguments that ``json.loads`` takes.
        :raises requests.exceptions.JSONDecodeError: If the response body does not
            contain valid json.
        """
    
        if not self.encoding and self.content and len(self.content) > 3:
            # No encoding set. JSON RFC 4627 section 3 states we should expect
            # UTF-8, -16 or -32. Detect which one to use; If the detection or
            # decoding fails, fall back to `self.text` (using charset_normalizer to make
            # a best guess).
            encoding = guess_json_utf(self.content)
            if encoding is not None:
                try:
                    return complexjson.loads(self.content.decode(encoding), **kwargs)
                except UnicodeDecodeError:
                    # Wrong UTF codec detected; usually because it's not UTF-8
                    # but some other 8-bit codec.  This is an RFC violation,
                    # and the server didn't bother to tell us what codec *was*
                    # used.
                    pass
                except JSONDecodeError as e:
                    raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
    
        try:
            return complexjson.loads(self.text, **kwargs)
        except JSONDecodeError as e:
            # Catch JSON-related errors and raise as requests.JSONDecodeError
            # This aliases json.JSONDecodeError and simplejson.JSONDecodeError
>           raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
E           requests.exceptions.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

/opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/site-packages/requests/models.py:978: JSONDecodeError
______________________ test_dydx__real_response__fromISO _______________________

self = <Response [403]>, kwargs = {}

    def json(self, **kwargs):
        r"""Returns the json-encoded content of a response, if any.
    
        :param \*\*kwargs: Optional arguments that ``json.loads`` takes.
        :raises requests.exceptions.JSONDecodeError: If the response body does not
            contain valid json.
        """
    
        if not self.encoding and self.content and len(self.content) > 3:
            # No encoding set. JSON RFC 4627 section 3 states we should expect
            # UTF-8, -16 or -32. Detect which one to use; If the detection or
            # decoding fails, fall back to `self.text` (using charset_normalizer to make
            # a best guess).
            encoding = guess_json_utf(self.content)
            if encoding is not None:
                try:
                    return complexjson.loads(self.content.decode(encoding), **kwargs)
                except UnicodeDecodeError:
                    # Wrong UTF codec detected; usually because it's not UTF-8
                    # but some other 8-bit codec.  This is an RFC violation,
                    # and the server didn't bother to tell us what codec *was*
                    # used.
                    pass
                except JSONDecodeError as e:
                    raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
    
        try:
>           return complexjson.loads(self.text, **kwargs)

/opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/site-packages/requests/models.py:974: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
/opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/json/__init__.py:346: in loads
    return _default_decoder.decode(s)
/opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/json/decoder.py:337: in decode
    obj, end = self.raw_decode(s, idx=_w(s, 0).end())
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 

self = <json.decoder.JSONDecoder object at 0x7f50db7dac10>
s = '<!DOCTYPE html>\n<html>\n\n<head>\n  <meta charset="UTF-8" />\n  <meta name="viewport" content="width=device-width, i...of use, you have been blocked. You may withdraw your funds from the\n    protocol at any time.</p>\n</body>\n\n</html>'
idx = 0

    def raw_decode(self, s, idx=0):
        """Decode a JSON document from ``s`` (a ``str`` beginning with
        a JSON document) and return a 2-tuple of the Python
        representation and the index in ``s`` where the document ended.
    
        This can be used to decode a JSON document from a string that may
        have extraneous data at the end.
    
        """
        try:
            obj, end = self.scan_once(s, idx)
        except StopIteration as err:
>           raise JSONDecodeError("Expecting value", s, err.value) from None
E           json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

/opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/json/decoder.py:355: JSONDecodeError

During handling of the above exception, another exception occurred:

    @enforce_types
    def test_dydx__real_response__fromISO():
        # setup problem: 'tsince'
        tsince_iso_str = "2024-02-27_00:00:00.000"
        tsince_UnixTimeMs = UnixTimeMs.from_timestr(tsince_iso_str)
        assert tsince_UnixTimeMs == [170](https://github.com/oceanprotocol/pdr-backend/actions/runs/9426087542/job/25968586997?pr=1157#step:8:171)8992000000
        assert tsince_UnixTimeMs.to_timestr() == tsince_iso_str
    
        # setup problem: the rest
        symbol = "BTC/USD"
        timeframe = "5m"
        limit = 10
    
        # get result
>       raw_tohlcv_data = fetch_ohlcv_dydx(symbol, timeframe, tsince_UnixTimeMs, limit)

pdr_backend/exchange/test/test_fetch_ohlcv_dydx.py:96: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 
/opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/site-packages/enforce_typing/decorator.py:29: in wrapper
    return func(*args, **kwargs)
pdr_backend/exchange/fetch_ohlcv_dydx.py:72: in fetch_ohlcv_dydx
    data = response.json()
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ 

self = <Response [403]>, kwargs = {}

    def json(self, **kwargs):
        r"""Returns the json-encoded content of a response, if any.
    
        :param \*\*kwargs: Optional arguments that ``json.loads`` takes.
        :raises requests.exceptions.JSONDecodeError: If the response body does not
            contain valid json.
        """
    
        if not self.encoding and self.content and len(self.content) > 3:
            # No encoding set. JSON RFC 4627 section 3 states we should expect
            # UTF-8, -16 or -32. Detect which one to use; If the detection or
            # decoding fails, fall back to `self.text` (using charset_normalizer to make
            # a best guess).
            encoding = guess_json_utf(self.content)
            if encoding is not None:
                try:
                    return complexjson.loads(self.content.decode(encoding), **kwargs)
                except UnicodeDecodeError:
                    # Wrong UTF codec detected; usually because it's not UTF-8
                    # but some other 8-bit codec.  This is an RFC violation,
                    # and the server didn't bother to tell us what codec *was*
                    # used.
                    pass
                except JSONDecodeError as e:
                    raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
    
        try:
            return complexjson.loads(self.text, **kwargs)
        except JSONDecodeError as e:
            # Catch JSON-related errors and raise as requests.JSONDecodeError
            # This aliases json.JSONDecodeError and simplejson.JSONDecodeError
>           raise RequestsJSONDecodeError(e.msg, e.doc, e.pos)
E           requests.exceptions.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

/opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/site-packages/requests/models.py:978: JSONDecodeError
=============================== warnings summary ===============================
system_tests/test_get_traction_info_system.py::test_traction_info_system
  /opt/hostedtoolcache/Python/3.11.9/x64/lib/python3.11/site-packages/kaleido/scopes/base.py:[188](https://github.com/oceanprotocol/pdr-backend/actions/runs/9426087542/job/25968586997?pr=1157#step:8:189): DeprecationWarning:
  
  setDaemon() is deprecated, set the daemon attribute instead

-- Docs: https://docs.pytest.org/en/stable/how-to/capture-warnings.html
=========================== short test summary info ============================
FAILED pdr_backend/exchange/test/test_fetch_ohlcv_dydx.py::test_dydx__real_response__basic - requests.exceptions.JSONDecodeError: Expecting value: line 1 column 1 (char 0)
FAILED pdr_backend/exchange/test/test_fetch_ohlcv_dydx.py::test_dydx__real_response__fromISO - requests.exceptions.JSONDecodeError: Expecting value: line 1 column 1 (char 0)
============= 2 failed, 603 passed, 1 warning in 323.23s (0:05:23) =============
```